
<!--<ng-container *ngFor="let post of postList">
 <app-post [post]="post"></app-post>
</ng-container>-->
<!-- <ng-container *ngIf="isValid; then template1 else template2"></ng-container> -->

<!-- <ng-template #template1> -->
     <div class="container">
        <ng-container *ngFor="let post of postList">
            <app-post [post]="post"></app-post>
           </ng-container>
     </div>

     
<!-- </ng-template> -->

<!-- <ng-template #template2>
     <div>

        <ng-container *ngFor="let post of concatenatepostList">
            <app-post [post]="post"></app-post>
           </ng-container>

     </div>
</ng-template> -->
