<mat-form-field appearance="fill">
    <mat-label>Select</mat-label>
    <mat-select>
      <mat-option value="one">
                <div>
                    <img src="assets/1.jpg" width>
                    <p><b>MeenuKrishna</b></p>
                 </div></mat-option>
      <mat-option value="two">
        <div>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item pointer">
                  <b> <a (click)="logout()" style="color: rgb(111, 4, 54);" class="nav-link">logout</a></b>
                </li>
              </ul>
        </div>
        </mat-option>
    </mat-select>
  </mat-form-field>
