
    <div class="d-flex flex-row title-search-grp">
     <h1> Linkedpro</h1>
       <div class="mystyle">
        <form class="form-signin" (ngSubmit)="onSubmit(signInForm)" #signInForm="ngForm">
           <h2 style="margin-left:130px;">Sign In</h2><br>
           <label for="inputEmail" class="sr-only">Email address</label><br><br>
           <input type="email" id="inputEmail" name="email" class="form-control"
                     placeholder="Email address" required autofocus ngModel>

           <label for="inputPassword" class="sr-only">Password</label><br><br>
           <input type="password" id="inputPassword" name="password" class="form-control"
                      placeholder="Password" required autofocus ngModel>
           <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!signInForm.valid" >Sign In</button>
        </form>
       </div>
        <!-- <div class="ima">
             <img src="https://blog.vantagecircle.com/content/images/2020/04/mental-health-in-work-from-home-01.png" width="300" height="710">
        </div> -->
    </div>
 

