svg,img
{

  width:30px;
  height: 20px;

}

.bi,.imgclass
{
  padding :1.9px;
  width: 50px;
  height: 27px;
  border-radius: 10px;
  max-height: max-content;
} 
.outerlayer{
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;

}

