<div class="container">
    <img src="assets/1.jpg"class="card-img-top profile-img" alt="...">
    <div class="alignItems">
            <div>
                <input type="text" 
                   [value]="content"
                   (input)="onValueChange($event)"
                   class="newComment" placeholder="add a comment">
             </div>
             <div class="commentBtn">
                <button mat-raised-button class="button" color="primary" (click)="addComment()" [ngClass]="{hidden:content===''}">post</button>
             </div>
    </div>  
</div> 
        


    