.container{
  margin-top: 50px;
}
b{
  margin-bottom: 10px;
}
.card-body
{
  background-color: rgb(243, 162, 164);
  font-weight: 800;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.card-body:hover
{
  cursor: pointer;
  background-color: rgb(143, 4, 80);
  color: aliceblue;
}