<div class="container">
<div class="card">
  <div class="card-body">
   <b> new message from  Hima kalyani</b>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <b>new message from Sruthy suresh</b>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <b> new message from Reethu sivan</b>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <b> new message from keerthi kumar</b>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <b> new message from parvathy sivan</b>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <b> new message from Reethu sivan</b>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <b> new message from keerthi kumar</b>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <b> new message from parvathy sivan</b>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <b> new message from Reethu sivan</b>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <b> new message from keerthi kumar</b>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <b> new message from parvathy sivan</b>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <b> new message from Reethu sivan</b>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <b> new message from keerthi kumar</b>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <b> new message from parvathy sivan</b>
  </div>
</div>
</div>


