
<button routerLink="/header/popupform"  style="display:block; margin:auto" color="accent">+ Add New User</button>

<div class="container">

  <table>
    <tr>
      <th>user_name</th>
      <th>phone_no</th>
      <th>mail_Id</th>
      <th>gender</th>
      <th></th>
      <th></th>
    </tr>
    <tr *ngFor="let net of networkUsers">

      <td style="font-weight:bold;">{{net.userName |uppercase }}</td>
      <td>{{net.phoneNum}}</td>
      <td style="font-weight:bold;">{{net.mailId}}</td>
      <td>{{net.gender|uppercase}}</td>
      <td><button routerLink="/header/popupform" (click)="edituser(net.phoneNum)">Edit</button></td>
      <td><button (click)="DeleteUser(net.phoneNum)">Delete</button></td>
    </tr>
  </table>
  <router-outlet></router-outlet>


