table {
    width: 100%;
    
  }
  
  th {

    color: rgb(87, 1, 36);
  }
 th, td {
    text-align: center;
  }
  th{
    text-transform: uppercase;

  }
  div
  {
      margin-top: 60px;
  }
  th {
    background-color: #8f0967;
    color: white;
  }
  tr:hover
  {
    background-color: #5c58ba;
}
 


button:active {
  background-color: #52e377;
  box-shadow: 0 5px #373737;
  transform: translateY(4px);
}
      
   button{
    border-radius: 10px;
    background-color: #2c0101;
    color: aliceblue;
    margin-left: auto;
    
   }   
      

  