
  
  th {

    color: rgb(87, 1, 36);
  }
 
  
  
  

    div
    {
        margin-top: 10%;
    }
  
  th {
    background-color: #81025b;
    color: rgb(241, 240, 240);
  }
  tr:hover
  {
    background-color: #5c58ba;
}
 


button:active {
  background-color: #52e377;
  box-shadow: 0 5px #373737;
  transform: translateY(4px);
}
      
   button{
    border-radius: 10px;
    background-color: #2c0101;
    color: aliceblue;
    margin-left: auto;
    
   }   
   table {
       width: 100%;
  }

  