.example-card {
    max-width: 900px;
    margin-bottom: 8px;
    margin-top: 80px;
    background-color: rgb(247, 242, 242);

  }
button:hover
{
    cursor: pointer;
    background-color: rgb(81, 3, 250);
}
  
.example-card:hover{
    background-color: rgb(223, 238, 243);
}
button
{
    border-radius:10px;
    background-color: #a60651;
    color: azure;

}
mat-card-title:hover
{
 color: rgb(169, 192, 230);
}