
<button routerLink="/header/popupform"  style="display:block; margin:auto" color="accent">+ Add New User</button>

<div class="container">

 <table mat-table [dataSource]="dataSource">
  
 <tr  mat-header-row *matHeaderRowDef="displayedColumns"></tr>
 <tr mat-row *matRowDef="let emprow; columns: displayedColumns;"></tr>

  <ng-container matColumnDef="USERNAME">
    <th mat-header-cell *matHeaderCellDef>USERNAME </th>
    <td mat-cell *matCellDef="let emp"> {{emp.userName|uppercase}} </td>
  </ng-container>                                                  
<ng-container matColumnDef="PHONE">
    <th mat-header-cell *matHeaderCellDef> PHONE </th>
    <td mat-cell *matCellDef="let emp"> {{emp.phoneNum}} </td>
</ng-container>
<ng-container matColumnDef="Email">
  <th mat-header-cell *matHeaderCellDef>Email</th>
  <td mat-cell *matCellDef="let emp"> {{emp.mailId}} </td>
</ng-container>

<ng-container matColumnDef="Gender">
  <th mat-header-cell *matHeaderCellDef> Gender </th>
  <td mat-cell *matCellDef="let emp"> {{emp.gender|uppercase}} </td>
</ng-container>
<ng-container matColumnDef="EDIT">

  <th mat-header-cell *matHeaderCellDef> EDIT </th>

  <td mat-cell *matCellDef="let emp" ><button (click)="NagivateToEdit(emp.phoneNum)">Edit</button></td>
</ng-container>
<!--<ng-container  matColumnDef ="DELETE">
  <th mat-header-cell *matHeaderCellDef > delete </th>

  <td mat-cell *matCellDef="let emp"><button (click)="DeleteUser(emp.phoneNum)">Delete</button></td>
</ng-container>-->

 </table>
 
 <mat-paginator [pageSizeOptions]="[3,5,7]" showFirstLastButtons></mat-paginator>
  <router-outlet></router-outlet>


