<button style="margin-inline-start: 90%;" (click)="onNoClick()" mat-mini-fab color="blue">
    <mat-icon>close</mat-icon>
  </button>
<div class="card" style="width: 50rem; margin-bottom:15px;">
         <div *ngFor="let comment of comments ">
        <div class="d-flex">

        <div>
            <img  class="card-img-top profile-img" [src]="comment.user.avatarUrl" />
        </div>
        <div>
            <div class="nam">{{comment.user.name}}</div>
            <div class="rol">{{comment.user.role}}</div>
        </div>
       
</div>
    </div>
    </div>
