<div class="mb-3 d-flex flex-row justify-content-between">

           <div>        
             <div class="card" style="width: 18rem;">
                  <div class="profile-img-container">
                  <img src="assets/1.jpg" class="card-img-top profile-img" alt="...">
                  </div>
                   <div class="card-body">
                      <h2 class="card-title" style="text-align:center;">Meenu Krishna</h2>
                      <p class="card-text" style="text-align:center ;">Web Developer</p><hr>
                      <p class="card-text" style="text-align:left ;">Who's viewed your profile
                      <span class="sp" style="margin-left:60px;">8</span></p>
                      <p class="card-text" style="text-align:left ;">Impressions of your post 
                      <span class="sp" style="margin-left:60px;">7</span></p>
                      <hr>
                      <p class="card-text" style="text-align:left ;">Access exclusive tools & Insights</p>
                      <p class="card-text" style="text-align:left ;">My Items</p>
                    </div>
             </div> 
            </div>  
         <div class="post-outer-container">    
           <div class="new-post">
               <div class="card" style="width: 35rem;  margin-bottom:20px ;">
                   <div class="card-body">
                     <textarea type="text" placeholder="Start a post.."  style="border-radius:20px ; width:100%; padding-right:10px; padding-left:10px;height: 50px;"></textarea>
                     <div class="menu-container d-flex justify-content-between">
                         <div class="d-flex">
                            <div><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-camera" viewBox="0 0 16 16">
                              <path d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1v6zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2z"/>
                              <path d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5zm0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
                            </svg></div>
                            <div><svg xmlns="http://www.w3.org/2000/svg" width="25" height="28" fill="currentColor" class="bi bi-camera-video" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5zm11.5 5.175 3.5 1.556V4.269l-3.5 1.556v4.35zM2 4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H2z"/>
                             </svg> </div>
                            <div><svg xmlns="http://www.w3.org/2000/svg" width="20" height="25" fill="currentColor" class="bi bi-calendar-event" viewBox="0 0 16 16">
                             <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
                             <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                            </svg></div>
                         </div>

                              <div>
                              <button class="post-button" type="button">post</button>
                              </div>
                      </div>
                    </div>
                </div>
              </div>
              
        <app-postfeed></app-postfeed>
    </div>  
       <div>        
          <div class="card" style="width: 18rem;">
                <div class="card-body">
                 <h2 class="card-title" style="text-align:left;">News</h2>
                 <ul>
                 <li>  <p class="card-text" style="text-align:left ;">Are you worried about a recession?</p></li><hr>
                 <li>  <p class="card-text" style="text-align:left ;">Moonlighting: IT execs harden stance </p></li>
                 <li><p class="card-text" style="text-align:left ;">Wipros career plan for freshers</p><hr></li>
                 <li><p class="card-text" style="text-align:left ;">Here are 2022's Top Startups in India </p></li></ul>
                 
           </div>
        </div> 
    </div>        
</div>        

