<div class="mb-3 d-flex flex-row justify-content-between">

           <div>        
             <div class="card" style="width: 18rem;">
                  <div class="profile-img-container">
                  <img src="assets/1.jpg" class="card-img-top profile-img" alt="...">
                  </div>
                   <div class="card-body">
                      <h2 class="card-title" style="text-align:center;">Meenu Krishna</h2>
                      <p class="card-text" style="text-align:center ;">Web Developer</p><hr>
                      <p class="card-text" style="text-align:left ;">Who's viewed your profile
                      <span class="sp" style="margin-left:60px;">8</span></p>
                      <p class="card-text" style="text-align:left ;">Impressions of your post 
                      <span class="sp" style="margin-left:60px;">7</span></p>
                      <hr>
                      <p class="card-text" style="text-align:left ;">Access exclusive tools & Insights</p>
                      <p class="card-text" style="text-align:left ;">My Items</p>
                    </div>
             </div> 
            </div>  
         <div class="post-outer-container">    

         <app-newpost></app-newpost>
        <app-postfeed></app-postfeed>
    </div>  
       <div>        
          <div class="card" style="width: 18rem;">
                <div class="card-body">
                 <h2 class="card-title" style="text-align:left;">News</h2>
                 <ul>
                 <li>  <p class="card-text" style="text-align:left ;">Are you worried about a recession?</p></li><hr>
                 <li>  <p class="card-text" style="text-align:left ;">Moonlighting: IT execs harden stance </p></li>
                 <li><p class="card-text" style="text-align:left ;">Wipros career plan for freshers</p><hr></li>
                 <li><p class="card-text" style="text-align:left ;">Here are 2022's Top Startups in India </p></li></ul>
                 
           </div>
        </div> 
    </div>        
</div>        

